{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Search Movie</h1>
        
        <form method="POST" action="{{ url_for('search') }}">
            {{ form.csrf_token }}

            <div>
                {{ form.search.label }}<br>
                {{ form.search(size=30) }}
            </div>           

            <input type="submit" value="Go">

   
</div>
{% endblock %}